/* 
MAIN COLORS
================================
Dark Purple: #1B2021
Light Purple: #30343F
Pink: #EF476F
Light Pink: #FFD9DA
White: #fff
Shadow: rgba(0, 0, 0, 0.25)
*/

h1, h2, h3, h4, h5, h6, p, button, ul, li {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-size: 1.3em;
  /* line-height: 1.5em; */
}

h1 {
  letter-spacing: .07em;
}

button {
  border: none;
  font-weight: 600;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

h1  {
  color: #fff;
  font-weight: 600;
}

p {
  color: #EF476F;
  font-weight: 300;
}

/* a {
  text-decoration: none;
  color: auto;
} */

.social-icons a {
  color: #EF476F;
}

a:hover {
  text-decoration: none;
}

.bg {
  width: 100%;
  min-height: 100vh;
  background-color: #1B2021;
  background-image: url('https://media.giphy.com/media/NzSUEgbTWB7TW/giphy.gif');
  background-repeat: repeat;
  text-align: center;
}

/* INDEX PAGE
====================================================== */

.social-icons {
  /* color: #30343F; */
  color: #EF476F;
}

/* PROJECTS PAGE
====================================================== */

.menu {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all .5s ease;
  display: none;
}

.menu li {
  padding: 10px;
  font-weight: 600;
}

.menu-text {
  color: #fff;
  transition: .25s;
}

.menu-text:hover {
  color: #1B2021;
}

.spacer {
  width: 100%;
  height: 0px;
}

.nav-holder {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navigation {
  width: 100%;
  background-color: #1B2021;
  background-image: url('https://media.giphy.com/media/NzSUEgbTWB7TW/giphy.gif');
  background-repeat: repeat;
  text-align: left;
  position: relative;
  transition: .5s;
  min-height: 0;
}

.nav-expand {
  min-height: 100vh;
  background: #EF476F;
}

.navigation a {
  text-decoration: none;
  color: #EF476F;
}

.navigation a:hover {
  text-decoration: none;
}

.nav-title {
  color: #fff;
  font-weight: 600;
  font-size: 2.25em;
  margin: 0;
  padding-left: 20px;
  display: inline;
  float: left;
}

.nav-social {
  color: #fff;
  display: inline;
  float: right;
  padding-right: 20px;
  margin-bottom: 0px;
  position: relative;
  top: 7px;
}

.nav-contact {
  background: #fff;
  color: #30343F;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px 20px;
  font-size: 1.1em;
}

.nav-shadow {
  width: 100%;
  height: 12px;
  background: transparent;
  transition: .25s;
}

.card-holder {
  width: 100%;
  margin-bottom: 55px;
}

.project-thumbnail-holder {
  width: 18%;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 2%;
  display: inline-block;
}

/* Targets all images */
.project-thumbnail-holder img {
  margin-bottom: 15px;
}

.project-thumbnail-logo {
  width: 100%;
  border-radius: 50%;
}

.project-thumbnail-badge {
  width: 70%;
  /* animation: badge-jiggle 2s infinite linear; */
}

.project-info {
  width: 75%;
  display: inline-block;
  text-align: left;
  background: #30343F;
  padding: 15px;
}

.project-info h3 {
  font-weight: 600;
  color: #fff;
}

.example {
  width: 100%;
  padding-bottom: 1rem;
}

.description {
  font-weight: 300;
  color: #FFD9DA;
  font-size: .8em;
}

.project-info button {
  font-weight: 600;
  background: #EF476F;
  color: #fff;
  padding: 7px 15px;
  font-size: .8em;
  transition: .25s;
}

.project-info button:hover {
  background: #fff;
  color: #EF476F;
}

.technologies {
  color: #fff;
  font-weight: 600;
  font-size: .8em;
}

.true-that-image {
  width: 70%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .project-thumbnail-badge {
    width: 85%;
  }
}

@media (max-width: 575px) {
  .title {
    margin-top: 25px;
    font-size: 3em;
  }

  .nav-title {
    color: #fff;
    font-weight: 600;
    font-size: 1.60em;
    margin: 0;
    text-align: left;
    padding-left: 20px;
  }
  
  .nav-social {
    padding-right: 20px;
    margin-bottom: 0px;
    position: relative;
    top: 0px;
  }
  
  .nav-shadow {
    width: 100%;
    height: 12px;
    background: transparent;
    transition: .25s;
  }

  .true-that-image {
    width: 100%;
  }

}

/* TEST */
/* ================================================= */

.mobile-btn {
  width: 115px;
  height: 50px;
  background: #EF476F;
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 3000;
  border-radius: 18px;
  display: none;
  text-align: center;
}

.mobile-btn p {
  color: #fff;
  position: relative;
  top: 11px;
}

.mobile-btn img {
  position: relative;
  top: 15px;
  left: 17.5px;
}

.menu-bar {
  background: #EF476F;
  position: fixed;
  height: 100vh;
  width: 250px;
  left: 0px;
}

.menu-holder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  width: calc(250px - 40px);
  display: block;
  left: 20px;
}

.menu-holder p {
  color: #fff;
  padding: 5px 0;
}

.menu-holder p a {
  color: #fff;
  transition: .25s;
}

.menu-holder p a:hover, .menu-holder p a:active {
  color: #30343F !important;
  font-weight: 600;
}

.menu-holder p a:visited {
  color: #fff;
}

.bg-2 {
  width: calc(100% - 250px);
  min-height: 100vh;
  background-attachment: fixed;
  background-color: #1B2021;
  background-image: url('https://media.giphy.com/media/NzSUEgbTWB7TW/giphy.gif');
  background-repeat: repeat;
  text-align: center;
  margin-left: 250px; 
}

.astronaut {
  width: 100%;
}

.word-bubble-holder {
  padding: 15px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:55px solid #30343F;
  display: inline-block;
  position: relative;
  right: -5px; 
}

.word-bubble {
  background: #30343F;
  text-align: left;
  padding: 25px;
  width: calc(95% - 55px);
  border-radius: 35px;
  display: inline-block;
}

.word-bubble h1 {
  font-size: 3em;
}

.word-bubble p {
  font-size: 1.1em;
  color: #FFD9DA;
}

.intro-text-holder {
  text-align: left;
}

.intro-text-holder p {
  padding: 10px 25px;
  color: #FFD9DA;
  font-size: 1.1em;
}

.highlight {
  background: #30343F;
  padding: 0 5px;
  color: #EF476F;
}

@media (max-width: 1200px) {

  .mobile-btn {
    display: block;
  }
  
  .menu-bar {
    background: #EF476F;
    position: fixed;
    height: 100vh;
    width: 250px;
    left: -250px;
    transition: .5s;
    z-index: 2000;
  }
  
  .menu-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    width: calc(250px - 40px);
    display: block;
    left: 20px;
  }
  
  .menu-holder p {
    color: #fff;
    padding: 5px 0;
  }
  
  .bg-2 {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    margin-left: 0px; 
  }
  
  .astronaut {
    width: 100%;
    position: relative;
    left: 15px;
  }
  
  .word-bubble-holder {
    padding: 15px;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-right:55px solid #30343F;
    display: inline-block;
    position: relative;
    right: -5px;
  }
  
  .word-bubble {
    background: #30343F;
    text-align: left;
    padding: 25px;
    width: calc(95% - 55px);
    border-radius: 35px;
    display: inline-block;
  }
  
  .word-bubble h1 {
    font-size: 3em;
  }
  
  .word-bubble p {
    font-size: 1.1em;
    color: #FFD9DA;
  }
  
  .intro-text-holder {
    text-align: left;
  }
  
  .intro-text-holder p {
    padding: 10px 25px;
    color: #FFD9DA;
    font-size: 1.1em;
  }
  
  .highlight {
    background: #30343F;
    padding: 0 5px;
    color: #EF476F;
  }

  .spacer {
    height: 35px;
  }

}

@media (max-width: 768px) {

  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-right:55px solid #30343F;
    display: inline-block;
    position: relative;
    right: -5px;
    bottom: 50px; 
  }

  .intro-text-holder p {
    padding: 10px 0px;
    color: #FFD9DA;
    font-size: 1.1em;
  }

}

@media (max-width: 767px) {

  .arrow-left {
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 55px solid #30343F;
    display: inline-block;
    position: relative;
    right: -45px;
    top: 7px; 
  }

  .word-bubble-holder {
    padding: 15px;
    padding-top: 0px;
  }

  .word-bubble {
    background: #30343F;
    text-align: left;
    padding: 25px;
    width: 95%;
    border-radius: 35px;
    display: inline-block;
  }
  
  .word-bubble h1 {
    font-size: 1.75em;
  }
  
  .word-bubble p {
    font-size: 1.1em;
    color: #FFD9DA;
  }

  .intro-text-holder p {
    padding: 10px 15px;
    color: #FFD9DA;
    font-size: 1.1em;
  }

}